{
  "ignoreFiles": [
    "./dist/**/*.css",
    "./node_modules/**/*.scss",
    "./src/shared/styles/resources/data/**/*.scss"
  ],
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-recess-order",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "no-duplicate-selectors": null,
    "value-list-max-empty-lines": 2,
    "max-empty-lines": 2,
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 5,
    "no-descending-specificity": null,
    "order/properties-alphabetical-order": null,
    "scss/comment-no-empty": null,
    "scss/no-global-function-names": null,
    "media-feature-name-no-unknown": [
      true,
      {
        "ignoreMediaFeatureNames": ["display-mode"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["global"]
      }
    ],
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["util"]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": []
      }
    ]
  }
}
